<!DOCTYPE html>
<html>
<head>
  <title>SecureSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul class="container">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Schools", schools_path %></li>
  </ul>
</nav>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
